[package]
name = "uniswap-v4-sdk-rs"
version = "0.1.0"
edition = "2021"

[dependencies]
alloy-primitives = "0.8"
alloy-sol-types = "0.8"
derive_more = "1.0.0"
rustc-hash = "2.0.0"
thiserror = { version = "2", default-features = false }
uniswap-sdk-core = "3.2.0"
uniswap-v3-sdk = "2.6.0"

[dev-dependencies]
once_cell = "1.20.2"

[features]
default = []
std = ["thiserror/std", "uniswap-sdk-core/std", "uniswap-v3-sdk/std"]
